.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

body {
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'minecraftmedium';
    text-align: center;
    color: #fffff2;
}

.btn {
    background-color: #2e74e6;
    color: #fffff2;
    font-size: 16px;
    transition-duration: 0.5s;
    border: 2px solid #2e74e6;
    border-radius: 8px;
    font-family: 'minecraftmedium';
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: center;
}

.btn:hover {
    background-color: #1B6BEC;
    color: #fffff2;
    cursor: pointer;
}

#game {
    border: 1px solid #a8ca58;
}

.media-image {
    height: 25px;
    width: 25px;
}

.download-button {
    padding-top: 15px;
}

.download-button:hover {
    color: #251F1F;
    cursor: pointer;
}

.style-is-cool {
    background-color: #1b1930;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 34px;
    padding-top: 30px;
    padding-bottom: 30px;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    scroll-width: none;
}

.link-h6 {
    margin-top: 10px;
}

.link-h6:hover {
    color: #3A2E2E;
    cursor: pointer;
}

#timer {
    text-align: center;
    font-family: 'minecraftmedium';
}

pre code {
    background-color: #212529;
    border: 1px solid #1b1930;
    display: block;
    padding: 20px;
    color: #F65660;
    white-space: pre-wrap;
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
}

.midle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

input[type=text] {
    color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #0C0B1A;
    resize: none;
}

input[type=number] {
    color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #0C0B1A;
    resize: none;
}

input[type=password] {
    color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #0C0B1A;
    resize: none;
}

input[type=submit] {
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.link_text {
    color: #20b2aa;
}

.link_text:hover {
    color: #add8e6;
    cursor: pointer;
}

.visibility:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'minecraftmedium';
    src: url('../font/minecraft-webfont.woff2') format('woff2'),
        url('../font/minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2") format('woff2');
}