@font-face {
    font-family: minecraftmedium;
    src: url(../font/minecraft.woff2) format('woff2'), url(../font/minecraft.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

::-webkit-scrollbar {
    width: 0
}

@supports (scrollbar-color:#988f81 #2d2d2d) {
    * {
        scrollbar-width: none
    }
}

* {
    font-family: minecraftmedium;
    box-sizing: border-box;
    text-align: center;
    color: #fffff2;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: center
}

.btn {
    background-color: #2e74e6;
    color: #fffff2;
    font-size: 16px;
    transition-duration: .5s;
    border: 2px solid #2e74e6;
    border-radius: 8px;
    font-family: minecraftmedium
}

.btn:hover {
    background-color: #1b6bec;
    color: #fffff2;
    cursor: pointer
}

.midle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    padding-top: 20px
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block
}

.sidenav a:hover {
    color: #fff
}

.main {
    margin-left: 160px;
    padding: 0 10px
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }

    .sidenav a {
        font-size: 18px
    }
}

@media (orientation: portrait) {
    .sidenav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        height: auto;
        width: auto;
        position: relative;
        z-index: 0;
        top: auto;
        left: auto;
        overflow-x: hidden;
        padding-top: 0px;
    }

    .sidenav a {
        display: block;
        font-size: 1rem;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: inline-block;
    }

    .main {
        margin-left: auto!important;
        padding: 10px 10px;
    }

    @media (width <= 398px) {
        .sidenav a {
            font-size: 0.75rem;
        }
    }

    @media (width <= 334px) {
        .sidenav a {
            font-size: 0.6rem;
        }
    }

    @media (width <= 295px) {
        .sidenav a {
            font-size: 0.5rem;
        }
    }
}