body {
  background-color: black;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
  color: white;
  background-image: url("../image/background.png")
}
* {
	box-sizing: border-box;
	font-family: 'minecraftmedium';
	text-align: center;
	color: white;
}
.btn {
    background-color: #75a743;
    color: white;
    font-size: 16px;
    transition-duration: 0.5s;
    border: 2px solid #468232;
    border-radius: 8px;
    font-family: 'minecraftmedium';
}
.buttons {
    text-align: center;
}
.btn:hover {
    background-color: #a8ca58;
    color: white;
    cursor: pointer;
}
#game{
	border:1px solid #a8ca58;
}
.media-image {
	height: 25px;
	width: 25px;
}
img {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}
.download-button {
    padding-top: 15px;
}
.download-button:hover {
    color: #251F1F;
    cursor: pointer;
}
.style-is-cool {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}
::-webkit-scrollbar {
	width: 0;
}
.link-h6 {
	margin-top: 10px;
}
.link-h6:hover {
    color: #3A2E2E;
    cursor: pointer;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero {
	height: 50vh;
	width: 100%;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	color: white;
}
.stuff > * {
    display: inline-block;
}
@font-face {
    font-family: 'minecraftmedium';
    src: url('https://duckdevs.me/assets/font/minecraft-webfont.woff2') format('woff2'),
         url('https://duckdevs.me/assets/font/minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}